<h2>Your Demo Environments<small> Time to refresh?</small></h2>

  <table class="table table-striped">
  <thead>
  <tr>
    <th><h3>Servername</h3></th>
    <th><h3>Location</h3></th>
    <th><h3>Status</h3></th>
    <th colspan="5"></th>
  </tr>
  </thead>

  <tbody>
  <% @environment.each do |environment| %>
      <tr>
        <td><h5><%= environment.servername %></h5></td>
        <td><h5><%= environment.location %></h5></td>
	<td><h5><%= environment.status%></h5></td>
        <td><%= link_to 'Refresh', refresh_path(environment), class: 'btn btn-warning'%></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= link_to "logout", destroy_user_session_path, method: :delete %>
