<p id="notice"><%= notice %></p>
<h2>Demo Environments</h2>

  <table class="table table-striped">
  <thead>
  <tr>
    <th><h3>Servername</h3></th>
    <th><h3>Location</h3></th>
    <th colspan="5"></th>
  </tr>
  </thead>

  <tbody>
  <% @environment.each do |environment| %>
      <tr>
        <td><h5><%= environment.servername %></h5></td>
        <td><h5><%= environment.location %></h5></td>
        <td><%= link_to 'Refresh',refresh_path(environment), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Edit', edit_environment_path(environment),  class: 'btn btn-info' %></td>
        <td><%= link_to 'Destroy', environment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Edit', edit_environment_path(@environment) %> |
<%= link_to 'Back', root_path %>
